<!-- Services -->
<div id="section_services"></div>
<div class="services">
  <h2>Services</h2>    <p>Celebrate your special occasion with us. Whether you’re planning  for a small or a large event, we will help make it a memorable and beautiful.</p>



  <div class="delivery">
    <h3>Speedy delivery</h3>

    <p>Praesent in pellentesque purus, sed lobortis quam. Nulla in varius leo. Aenean varius, sem non molestie congue, odio nisl porta purus, sed porttitor dolor dolor egestas purus.</p>
  </div>


  <div class="event">
    <h3>Make your event special</h3>

    <ul>
      <li><a href="index.html#">Corporate Events</a></li>
      <li><a href="index.html#">VIP Parties</a></li>
      <li><a href="index.html#">Birthdays &amp; Celebrations</a></li>
      <li><a href="index.html#">Weddings</a></li>
      <li><a href="index.html#">Baby Showers</a></li>
    </ul>
  </div>


  <div class="service">
    <h3>Service with love</h3>

    <p>Maecenas in ornare ante. Quisque nec lectus felis. Ut vel eleifend urna, non dictum felis.</p>
  </div>


</div>
<!-- Services Ends! -->