<!-- Map -->
<div class="map">
  <div id="map_canvas">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15831.334003790504!2d112.7400533!3d-7.259782!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x35c42aa40adf3646!2sHotel%20Majapahit%20Surabaya%20managed%20by%20Accor%20Hotels!5e0!3m2!1sen!2sid!4v1579254107812!5m2!1sen!2sid" 
            width="100%" height="450" 
            frameborder="0" style="border:0;" allowfullscreen=""></iframe>
  </div>
  <div class="address">
    <div>
      <h3>Find Us</h3>       
      <h4>{{ site.title }}</h4>   
      <p>{{ site.alamat }}<br />
        <strong>Phone: <a href="{{ site.walink }}">{{ site.wa }}</a></strong></p>
    </div>
  </div>
</div>
<!-- Map Ends! -->