<!-- Header -->
<div class="header" id="header">
  <div class="container">

    <!-- Menu -->
    <div class="menu">

      <div class="menu_container">

        <ul class="items"><li><a href="index.html">Home</a></li><li><a rel="m_PageScroll2id" href="index.html#section_about">About Us</a></li><li><a rel="m_PageScroll2id" href="index.html#section_services">Our Services</a></li><li><a rel="m_PageScroll2id" href="index.html#section_portfolio">Portfolio</a></li><li><a rel="m_PageScroll2id" href="index.html#section_contact">Contact Us</a></li><li><a href="http://demo.mage-themes.com/wordpress/candyqueen/blog/">Blog</a></ul>
        <!-- Social Links -->
        <ul class="social">
          <li><a href="index.html#" class="google">google+</a></li>          
          <li><a href="index.html#" class="linkedin">linkedin</a></li>          
          <li><a href="index.html#" class="twitter">twitter</a></li>          
          <li><a href="index.html#" class="facebook">facebook</a></li>          
          <li><a href="index.html#" class="pinterest">pinterest</a></li>          
          <li><a href="index.html#" class="instagram">instagram</a></li>        
        </ul>
        <!-- Social Links Ends! -->
      </div>

    </div>
    <!-- Menu Ends -->

    <h1><a href="{{ site.url }}" class="text">{{ site.title_big }} {{ site.title_small }}</a></h1>

  </div>
</div>
<!-- Header Ends! -->