<!-- Header -->
<div class="header" id="header">
  <div class="container">

    <!-- Menu -->
    <div class="menu">

      <div class="menu_container">

        <ul class="items">
          <li><a href="{{site.url}}/">Home</a></li>
          <li><a rel="m_PageScroll2id" href="{{site.url}}/#section_about">About Us</a></li>
          <!-- <li><a rel="m_PageScroll2id" href="{{site.url}}/#section_services">Our Services</a></li> -->
          <li><a rel="m_PageScroll2id" href="{{site.url}}/#section_portfolio">Portfolio</a></li>
          <li><a rel="m_PageScroll2id" href="{{site.url}}/#section_contact">Contact Us</a></li>
          <li><a href="https://gogoprint.aksisoft.com">Printing and Desain</a></li>
          <li><a href="https://www.aksisoft.com">Website Developer</a></li>
        </ul>
        <!-- Social Links -->
        <ul class="social">
          <!--
          <li><a href="#" class="google">google+</a></li>
          <li><a href="{{site.url}}/#" class="linkedin">linkedin</a></li>          
          <li><a href="{{site.url}}/#" class="twitter">twitter</a></li>          
          <li><a href="{{site.url}}/#" class="facebook">facebook</a></li>          
          <li><a href="{{site.url}}/#" class="pinterest">pinterest</a></li>
          -->
          <li><a href="https://www.instagram.com/chrystal.catherine.sari/" class="instagram">instagram</a></li>        
        </ul>
        <!-- Social Links Ends! -->
      </div>

    </div>
    <!-- Menu Ends -->

    <h1><a href="{{ site.url }}" class="text">{{ site.title_big }} {{ site.title_small }}</a></h1>

  </div>
</div>
<!-- Header Ends! -->